@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Quicksand:wght@300..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     font-family: 'Press Start 2P', system-ui;
}

/*Base Navigation Menu*/

.topnav{
    background-color: #191716;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0 20px;
    font-family: 'Press Start 2P';
}

.topnav a {
  float: none;
  margin: 0;
  color: #fffb00;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav img {
    float: none;
    margin: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.topnav .brand {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-direction: row-reverse;
}
.topnav .brand h1 {
    float: none;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.2rem;
}
.topnav .brand img#side-pfp {
    float: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0;
}
.topnav h1{
    float: none;
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
    text-decoration: none;
}

/*all of the above is for the navigation bar -- Lala*/

body{ 
    background-color: #ece9d7;
 } 

.navtop{ 
    background-color: #3d348b; 
    overflow: hidden;} 

.navtop h1{ 
    float: center; 
    text-align: center; 
    font-size: 1.5rem;
    color: white; }

footer{
  background-color: orange;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
}

footer button{
  background-color: #c8b1a4;
  border-radius: 10px;
  border: none;
  margin-left: 80%;
}

#side-pfp{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-left: 0;
  object-fit: cover;
}

/*Since every page is almost built the same ^^ */