.topnav{
    background-color: #191716;
    overflow: hidden;}
.topnav a {
  float: left;
  color: #fffb00;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;}
.topnav a:hover {
  background-color: #ddd;
  color: black;}
.topnav a.active {
  background-color: #04AA6D;
  color: white;}
.topnav img {
    float: left;
  padding: 14px 16px;
}
.topnav h1{
    float:right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}

/*all of the above is for the navigation bar -- Lala*/

body{ 
    background-color: #ece9d7;
 } 

.navtop{ 
    background-color: #3d348b; 
    overflow: hidden;} 

.navtop h1{ 
    float: center; 
    text-align: center; 
    font-size: 1.5rem;
    color: white; }

footer{
  background-color: orange;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
}

footer button{
  background-color: #c8b1a4;
  border-radius: 10px;
  border: none;
  margin-left: 80%;
}

/*Since every page is almost built the same ^^ */